form {
    margin-top: 15vh;
    
}

label{
    margin: 50vh 50vh 0vh 50vh;
}

p {
    margin: 1vh 50vh 0vh 50vh;
}

.insertWords:focus, .searchWords:focus {
    outline: none;
    border:2px solid rgb(69, 116, 219);
    box-shadow: 0 0 10px #719ECE;
  }

.selectButton {
    background-color: rgba(45, 111, 235, 0.945);
    border-radius: 15px;
    margin: 1vh 1vh 3vh 50vh;
}

.showCollection {
    background-color: rgba(45, 111, 235, 0.945);
    border-radius: 15px;
}

.insertWords {
    border-radius: 15px;
    margin: 1vh 50vh 0vh 50vh;
    padding: 5px;
}

.searchWords {
    border-radius: 15px;
    margin: 1vh 1vh 0vh 50vh;
    padding: 5px;
}

.search{
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 42%;
    background-color: rgba(54, 148, 236, 0.945);
    
}
